@import "tailwindcss";

@font-face {
    font-family: 'Google Sans2';
    src: url('../fonts/GoogleSansFlex.ttf') format('truetype');
}

@theme inline {
    --color-primary: #9f86ff !important;
    --color-tertiary-container: #553f5d;
    --color-secondary-container: #45455a;
    --color-on-surface-variant: #cbc4cc;
    --color-surface-variant: #4d4256;
    --color-primary-80: #ccbeff;
    --color-background: #141314;
    --color-on-surface: #1f1f1f;
    --color-on-primary: #1a0056;
    --color-surface-1: #1c1b1d;
    --color-surface-2: #211f21;
    --color-surface-3: #211f21;
    --color-surface-4: #363436;
    --color-surface-4: #363436;

    --radius-xxl: 48px;
    --radius-xl: 32px;
    --radius-lg: 24px;
    --radius-md: 16px;
    --radius-sm: 12px;
    --radius-xsm: 8px;

    --text-xs: 10px;
    --text-sm: 12px;
    --text-md: 16px;
    --text-x2l: 22px;
    --text-5xl: 45px;
    --text-8xl: 88px;

    --spacing-xxl: 48px;
    --spacing-lg: 32px;
    /* --spacing-btn-height: max-lg:h-15 h-20; */
    --btn-height: 80px;
    --icon-btn-height: 56px;
    --chip-container-height: 32px;

    --breakpoint-xs: 22rem;

    --mio-theme-v2-headline-s-font-size: 24px;

    --animate-ripple: ripple-animation 600ms linear;
    --animate-float: float 3s ease-in-out infinite;
}

@layer components {
    .btn-h {
        @apply max-lg:h-15 h-20 max-lg:min-h-15 min-h-20;
    }

    .btn-pt {
        @apply max-lg:pt-15 pt-20;
    }

    .paragraph {
        @apply text-lg max-sm:text-md;
    }

    .lg-paragraph {
        @apply md:text-2xl;
    }
}


@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


body {
    background-color: var(--color-background);
    /* url(../fonts/google-sans-webfont/style.css) */
    font-family: "Google Sans2";
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 32px !important;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}